{% extends "layout.html.twig" %}
{% set practitionerMenu = true %}

{% block title %}{{ visitor.username }} {% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-5 control-label">Nom d'utilisateur </label>
            <div class="col-sm-7">
            <p class="form-control-static">{{ visitor.username }}</p>
            </div>
        </div>
        
        </div>
    </form>
</div>
{% endblock %}